/* WATS 3020 Mad Libs Assignment */

body {
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background: ivory;
}


#madlib-title {
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 3px solid black;
}

#madlib-text {
    font-size: 1.5rem;
    padding-bottom: 30px;
    font-style: italic;
}

#p {
    padding-top: 10px;
}